@model IEnumerable<Voiture>

@{
    ViewData["Title"] = "Liste des Voitures";
}

<h1>Liste des Voitures</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter une Voiture</a>
</p>

<div class="card-group flex-wrap d-flex justify-content-start">
    @foreach (var voiture in Model)
    {
        var photoPath = "~/images/" + (voiture.Image ?? "noimage.jpg");

        <div class="card m-3" style="min-width: 18rem; max-width: 30%;">
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />

            <div class="card-body">
                <h5 class="card-title">@voiture.Matricule</h5>
                <p class="card-text"><b>Marque:</b> @voiture.Marque</p>
                <p class="card-text"><b>Modèle:</b> @voiture.Modele</p>
            </div>

            <div class="card-footer text-center">
                <a asp-action="Details" asp-route-id="@voiture.Id" class="btn btn-info btn-sm m-1">Détails</a>
                <a asp-action="Edit" asp-route-id="@voiture.Id" class="btn btn-warning btn-sm m-1">Modifier</a>
                <a asp-action="Delete" asp-route-id="@voiture.Id" class="btn btn-danger btn-sm m-1">Supprimer</a>
            </div>
        </div>
    }
</div>
